
<div class="card">
    
  <div class="card-body">
    

    <div class="inbox-widget">
      <div class="inbox-item">
        <div class="inbox-item-img">
          <img src="/app/assets/images/users/foyerr.jpg" class="rounded-circle" alt="Foyer Image">
        </div>
        
        <div class="inbox-item-details">
          <h5 class="inbox-item-author mt-0 mb-1">{{ foyer.nomFoyer }}</h5>
          <br>
          <p class="inbox-item-text">Capacité du foyer : {{ foyer.capaciteFoyer }}</p>
          <p class="inbox-item-text">Nombre de chambres : {{ nombreChambres }}</p>
          <p class="inbox-item-text">Nom de L'université : {{ foyer.universite?.nomUniversite }}</p>
        </div>
    <br>
        <div class="inbox-item-actions">
          <button (click)="deleteFoye(foyer.idFoyer)" class="btn btn-danger btn-sm">Effacer</button>
        </div>
      </div>
    </div>
  </div>
</div>
