<app-navbar></app-navbar>

<div class="content-page">
  <div class="content">
    <div class="container">
      <h2 class="text-center mb-4">More Details </h2>





      <div class="container mt-4 section" id="about">

        <div class="row m-2">

          <div class="col-md-4">
            <img src="/app/assets/images/users/rechercheimage.webp" alt="user-img" class="img-fluid" />
          </div>

          <div class="col-md-1">
          </div>

          <div class="col-md-4">

            <h4 class="card-title" appHighlight>Recherche By ID & <br>
              Nom & <br>
              ID Foyer</h4>
            <div class="row m-2">
            </div>
            <div>
              <!-- <label for="idUniversite">ID de l'université:</label> -->
              <div class="form-group"><input type="number" id="universiteId"
                  [(ngModel)]="universiteDetails.idUniversite" placeholder="ID de l'université" /></div>
              <!-- <label for="nomUniversite">Nom de l'université:</label> -->
              <div class="form-group"><input type="text" id="nomUniversite"
                  [(ngModel)]="universiteDetails.nomUniversite" placeholder="Nom de l'université" /></div>
              <div class="form-group"><input type="text" id="nomFoyer" [(ngModel)]="universiteDetails.foyer!.nomFoyer"
                  placeholder="Nom du Foyer" /></div>
              <div>
                <button class="btn-sec3" (click)="rechercherDetailsUniversite()"> <i class="fas fa-search"> </i> Rechercher</button>
              </div>
            </div>

          </div>
          <div class="col-md-3">

            <div *ngIf="universiteDetails">
              <h4 class="card-title">Détails de l'université</h4>
              <p>Nom: {{ universiteDetails.nomUniversite }}</p>
              <p>Adresse: {{ universiteDetails.adresse}}</p>
            </div>
          </div>
          
        </div>
      </div>


      <div class="container mt-3 section" id="about">

        <div class="row m-2">
          <div class="col-md-4">
            <img src="/app/assets/images/users/charts.jpg" alt="user-img" class="img-fluid" />
          </div>


          <div class="col-md-1">
          </div>

          <div class="col-md-3">
            <div class="row m-3"></div>

            <h4 class="card-title" appHighlight>Statistique du <br>
              Nombre total <br>
              De chambres</h4>
            <div class="row m-2">
            </div>


          </div>
          <div class="col-md-4">
            <div>

              <p>Nom Université : <input [(ngModel)]="universiteDetails.nomUniversite" /></p>
              <button class="btn-sec3" (click)="getStatistique()">  <i class="fas fa-chart-bar"></i> Obtenir Statistique</button>
              <div class="row m-2"></div>
              <p class="badge2">Nombre total de chambres: {{ nombreTotalChambres }}</p>

            </div>
          </div>

        </div>
      </div>


      <div class="container mt-3 section" id="about">

        <div class="row m-2">
          <div class="col-md-4">
            <img src="/app/assets/images/users/imagesfoyer.jpeg" alt="user-img" class="img-fluid" />
          </div>


          <div class="col-md-1">
          </div>

          <div class="col-md-3">
            <div class="row m-3"></div>

            <h4 class="card-title" appHighlight>Universités avec <br>
              un nombre minimum <br>
              De chambres</h4>
            <div class="row m-2">
            </div>


          </div>
          <div class="col-md-4">
            <div>

              <label>Nombre minimum de chambres: <input [(ngModel)]="nombreMinChambres" name="nombreMinChambres" type="number" required /></label><br>
              <button class="btn btn-warning mb-3" (click)="getUniversitesByNombreMinChambres()"><i class="fas fa-search"></i> Rechercher </button>
              <div class="row m-2"></div>
              <ul *ngIf="universites && universites.length">
                <li *ngFor="let universite of universites">{{ universite.nomUniversite }}</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
     

      <button class="btn btn-primary" (click)="goToList()"> <i class="fas fa-list"></i> Retour à la liste des universités</button>




    </div>
  </div>
</div>