<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
  <div class="content-page">
    <div class="content">
  
        <!-- Start Content-->
        <div class="center-container">
        <div class="container-fluid">
          <div class="row">
  <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end">
            <a href="#" class="dropdown-toggle arrow-none card-drop"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Another
                action</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Something
                else</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Separated
                link</a>
            </div>
          </div>
  
          <h4 class="header-title mt-0 mb-3">Détails Université </h4>
  
          <div class="table-responsive">

            <div class="form-container">
                <label for="idUniversite">ID de l'université:</label>
                <input type="number" id="universiteId" [(ngModel)]="universiteDetails.idUniversite" />
                <div>
                <button class="button-rechercher" (click)="rechercherDetailsUniversite(universiteDetails.idUniversite)">Rechercher</button>
              </div>
            </div>
              
              <div *ngIf="universiteDetails">
                <h2>Détails de l'université</h2>
                <p>Nom: {{ universiteDetails.nomUniversite }}</p>
                <p>Adresse: {{ universiteDetails.adresse}}</p>
              </div>
           

          </div>
        </div>
      </div>
  
    </div>
  </div>
  </div>
</div>
  
  </div>
  </div>


