<!-- Bloc-modification.component.html -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <form (ngSubmit)="updateBloc()">
    <label>ID Bloc: </label>
    <input type="text" [(ngModel)]="bloc.idBloc"  name="idBloc"  >
    <label>Num Bloc: </label>
    <input type="text" [(ngModel)]="bloc.nomBloc" name="nomBloc" >
    <label>Capacite Bloc: </label>
    <input type="text" [(ngModel)]="bloc.capaciteBloc" name="capaciteBloc">
    <!-- Other input fields for Bloc properties -->
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
</div>

</div>
