<div class="">
  <!-- Bloc-modification.component.html -->
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <app-message-erreur [erreur]="blocForm.controls['numerobloc']" (onErreurClique)="gestionCliqueErreur()"></app-message-erreur>
  <div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <form (ngSubmit)="updateBloc()" #blocForm="ngForm" class="bloc-form" novalidate>
                <label>ID bloc: </label>
                <input type="text" [(ngModel)]="bloc.idBloc" name="idbloc" class="form-control" disabled>
  
                <div class="form-group">
                  <label>Nom bloc: </label>
                  <input type="text" [(ngModel)]="bloc.nomBloc" name="numerobloc" class="form-control" required minlength="3">
                  <app-message-erreur [erreur]="blocForm.controls['numerobloc']"></app-message-erreur>
                </div>
        
                <div class="form-group">
                  <label>Capacite Bloc</label>
                  <input type="text" [(ngModel)]="bloc.capaciteBloc" name="capaciteBloc" class="form-control" required pattern="[0-9]+">
                  <app-message-erreur [erreur]="blocForm.controls['capaciteBloc']"></app-message-erreur>
                </div>
        
  
               <br>
                <div class="form-group">
                  <label for="Foyer">Foyer:</label>
                  <select id="foyer" [(ngModel)]="newBloc.foyer!.idFoyer" (change)="updateFoyerId($event)"
                    name="selectedFoyerNom">
                    <option *ngFor="let foyerItem of foyer" [ngValue]="foyerItem.idFoyer">{{ foyerItem.nomFoyer }}</option>
                  </select>
                </div>
  
                <!-- Other input fields for bloc properties -->
  
                <button type="submit" class="btn btn-success btn-block" [disabled]="blocForm.invalid">Ajouter</button>
                <div *ngIf="(blocForm.invalid || !newBloc.idBloc)  &&(blocForm.dirty || blocForm.touched)"
                  class="error-message">
                  Veuillez remplir le formulaire avant de soumettre.
                </div>
            </form>
        </div>
    </div>
  </div>
  </div>