
<!-- bloc-modification.component.html -->
<div class="content-page">
  <div class="content">
      <div class="container-fluid">
          <form (ngSubmit)="updateBloc()" #blocForm="ngForm" class="bloc-form" novalidate>
              <label>ID bloc: </label>
              <input type="text" [(ngModel)]="bloc.idBloc" name="idbloc" class="form-control" disabled>

              <label>Num bloc: </label>
              <input type="text" [(ngModel)]="bloc.nomBloc" name="numerobloc" class="form-control" required>
              <div *ngIf="blocForm.controls['numerobloc'].hasError('required') && (blocForm.submitted || blocForm.controls['numerobloc'].touched)"
                class="error-message">
                Numéro bloc est requis.
              </div>
              <label>Capacite Bloc</label>
              <input type="text" [(ngModel)]="bloc.capaciteBloc" name="capaciteBloc" class="form-control" required>
              <div *ngIf="blocForm.controls['capaciteBloc'].hasError('required') && (blocForm.submitted || blocForm.controls['capaciteBloc'].touched)"
                class="error-message">
                Capacite bloc est requis.
              </div>

             
              <div *ngIf="blocForm.controls['typebloc'].hasError('required') && (blocForm.submitted || blocForm.controls['typebloc'].touched)"
                class="error-message">
                Type bloc est requis.
              </div>

              <!-- Other input fields for bloc properties -->

              <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
          </form>
      </div>
  </div>
</div>
