
<div class="container" >

  <form #f=ngForm class="etudiant-form">
    <h2 class="text-center mb-4">Modifier Etudiant</h2>
    <div class="form-group pt-3">
      <div class="input-field">
        <span class="fa fa-id-card p-2"></span>
        <input name="nomEt" [(ngModel)]="student.nomEt" type="text" placeholder="FirstName" required>
      </div>
    </div>

    <div class="form-group pt-3">
      <div class="input-field" >
        <span class="fa fa-id-card p-2"></span>
        <input name="prenomEt" [(ngModel)]="student.prenomEt" type="text" placeholder="LastName" required>
      </div>
    </div>

    <div class="form-group pt-3">
      <div class="input-field" >
        <span class="fa fa-id-card p-2"></span>
        <input name="email" [(ngModel)]="student.email" type="text" placeholder="Email" required>
      </div>
    </div>

    <div class="form-group pt-3">
      <div class="input-field" >
        <span class="fa fa-id-card p-2"></span>
        <input name="cin" [(ngModel)]="student.cin" type="text" placeholder="CIN" required>
      </div>
    </div>



    <div class="form-group pt-3">
      <div class="input-field" >
        <span class="fa fa-id-card p-2"></span>
        <input name="ecole" [(ngModel)]="student.ecole" required type="text" placeholder="Ecole">
      </div>
    </div>

    <div class="form-group pt-3">
      <div class="input-field" >
        <span class="fa fa-lock p-2"></span>
        <input name="password" [(ngModel)]="student.password" type="password" placeholder="Password" required>
      </div>
    </div>

    <button (click)="update(f.value)" type="submit" class="btn btn-primary btn-block mt-4 w-100">Update Student</button>

  </form>
</div>
