<div class="content-page">
  <div class="content">
      <div class="container-fluid">
          <h2>Liste des Chambres</h2>
          <button class="btn btn-success" (click)="navigateToAjouter()">Ajouter</button>

          <table id="chambresTable" class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>ID Chambre</th>
                      <th>Numéro Chambre</th>
                      <th>Type Chambre</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let chambre of chambres">
                      <td>{{ chambre.idChambre }}</td>
                      <td>{{ chambre.numeroChambre }}</td>
                      <td>
                          <span [ngStyle]="{'background-color': getTypeChambreColor(chambre.typeChambre)}">
                              {{ chambre.typeChambre }}
                          </span>
                      </td>
                      <td>
                          <button class="btn btn-primary" (click)="openModificationPopup(chambre)">Modifier</button>
                          <button class="btn btn-danger" (click)="deleteChambre(chambre.idChambre)">Supprimer</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
