/* Ajoutez ces styles dans votre fichier CSS ou dans le fichier de style de votre composant */

/* Ajustements pour la table */
.table-responsive {
  margin-top: 20px; /* Ajoute un espacement en haut de la table */
}

.table th, .table td {
  text-align: center; /* Centre le texte dans les cellules */
}

/* Styles pour les badges */
.badge-occupied {
  background-color: #d9534f; /* Couleur rouge pour "Oui" */
  color: #fff; /* Texte blanc sur fond rouge */
}

.badge-not-occupied {
  background-color: #5cb85c; /* Couleur verte pour "Non" */
  color: #fff; /* Texte blanc sur fond vert */
}

/* Ajustements pour le titre */
h2 {
  color: #337ab7; /* Couleur bleue pour les titres h2 */
}

/* Ajustements pour les icônes */
i {
  margin-right: 5px; /* Ajoute un espacement à droite des icônes */
}
.occupied-row {
  background-color: #ff8080; /* or any color you prefer */
}

.not-occupied-row {
  background-color: #80ff80; /* or any color you prefer */
}
