<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-page">
  <div class="content">
    <div class="container">
      <h2 class="text-center mb-4">{{title}}</h2>


      <form #addfoyerForm="ngForm" (ngSubmit)="addFoyer()" class="foyer-form">
        <div class="form-group">
          <label for="nomFoyer" class="form-label">Nom foyer</label>
          <input type="text" id="nomFoyer" class="form-control" [(ngModel)]="foyer.nomFoyer" name="nomFoyer" pattern="^[a-zA-Z\s]+$" required>

            <div *ngIf="addfoyerForm.controls['nomFoyer'].hasError('required') && (addfoyerForm.controls['nomFoyer'].dirty || addfoyerForm.controls['nomFoyer'].touched)"
            class="error-message">
            <div *ngIf="addfoyerForm.controls['nomFoyer'].errors?.['required']">
              Nom foyer est requis.
            </div>
            <div *ngIf="addfoyerForm.controls['nomFoyer'].errors?.['pattern']">
              Le nom doit contenir uniquement des lettres minuscules ou majuscules.
            </div>
       
          </div>

        </div>
        <div class="form-group">
          <label for="capaciteFoyer" class="form-label">Capacité Foyer</label>
          <input type="number" id="capaciteFoyer" class="form-control" [(ngModel)]="foyer.capaciteFoyer" name="capaciteFoyer" required min="101">
          <div *ngIf="(addfoyerForm.controls['capaciteFoyer'].hasError('required') || addfoyerForm.controls['capaciteFoyer'].hasError('min')) && (addfoyerForm.controls['capaciteFoyer'].dirty || addfoyerForm.controls['capaciteFoyer'].touched)"
            class="error-message">
            <div *ngIf="addfoyerForm.controls['capaciteFoyer'].hasError('required')">
              Capacité est requis.
            </div>
            <div *ngIf="addfoyerForm.controls['capaciteFoyer'].hasError('min')">
              La capacité doit être supérieure à 100.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="selectUniversite" class="form-label">Select Universite:</label>
          <select id="selectuniversite" name="selectuniversite" [(ngModel)]="selectuniversite" class="form-select custom-select" required *ngIf="universities">
            <option *ngFor="let university of universities" [value]="university.idUniversite">{{ university.nomUniversite }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success btn-block" [disabled]="addfoyerForm.invalid">Done</button>

<div *ngIf="addfoyerForm.invalid" class="error-message">
  Veuillez remplir le formulaire correctement avant de soumettre.
</div>
<button type="button" class="btn btn-secondary btn-block mt-3" (click)="goToHome()">Retour à la page d'accueil</button>
      </form>



    </div>
  </div>
</div>