<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-page">
  <div class="content">
    <div class="container">
      <h2 class="text-center mb-4">{{title}}</h2>


      <form #addfoyerForm="ngForm" (ngSubmit)="addFoyer()" class="foyer-form">
        <div class="form-group">
          <label for="nomFoyer" class="form-label">Nom foyer</label>
          <input type="text" id="nomFoyer" class="form-control" [(ngModel)]="foyer.nomFoyer"
            name="nomFoyer" pattern="^[a-zA-Z]+$" required>
          
            <div *ngIf="addfoyerForm.controls['nomFoyer'].hasError('required') && (addfoyerForm.controls['nomFoyer'].dirty || addfoyerForm.controls['nomFoyer'].touched)"
            class="error-message">
           
            <div *ngIf="addfoyerForm.controls['nomFoyer'].errors?.['required']">
              Nom foyer est requis.
            </div>
            <div *ngIf="addfoyerForm.controls['nomFoyer'].errors?.['pattern']">
              Le nom doit contenir uniquement des lettres minuscules ou majuscules.
            </div>
       
          </div>

        </div>
        <div class="form-group">
          <label for="capaciteFoyer" class="form-label">capacite Foyer</label>
          <input type="number" id="capaciteFoyer" class="form-control" [(ngModel)]="foyer.capaciteFoyer" name="capaciteFoyer"
            required>
          <div *ngIf="addfoyerForm.controls['capaciteFoyer'].hasError('required') && (addfoyerForm.controls['capaciteFoyer'].dirty || addfoyerForm.controls['capaciteFoyer'].touched)"
            class="error-message">
            <div *ngIf="addfoyerForm.controls['capaciteFoyer'].errors?.['required']">
              capacité  est requis.
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-success btn-block" [disabled]="addfoyerForm.invalid">Done</button>
        <div *ngIf="addfoyerForm.invalid" class="error-message">
          Veuillez remplir le formulaire avant de soumettre.
        </div>
      </form>



    </div>
  </div>
</div>