<div class="">
<app-bar-side></app-bar-side>
<app-navbar></app-navbar>
<div class="content-page">
  <div class="content">
    <div class="container">
      <h2 class="text-center mb-4">{{title }}</h2>


      <form #addUnivForm="ngForm" (ngSubmit)="addUniversite()" class="universite-form">
        <app-popup #popup (confirmed)="navigateToListe()"></app-popup>

        <div class="form-group">
          <label for="nomUniversite" class="form-label">Nom Université</label>
          <input type="text" id="nomUniversite" class="form-control" [(ngModel)]="universite.nomUniversite" name="nomUniversite" pattern="^[a-zA-Z]+$" required>

          <div
            *ngIf="addUnivForm.controls['nomUniversite'].hasError('required') && (addUnivForm.controls['nomUniversite'].dirty || addUnivForm.controls['nomUniversite'].touched)"
            class="error-message">
            <app-message-erreur [erreur]="addUnivForm.controls['nomUniversite']"></app-message-erreur>

          </div>

        </div>
        <div class="form-group">
          <label for="adresse" class="form-label">Adresse</label>
          <input type="text" id="adresse" class="form-control" [(ngModel)]="universite.adresse" name="adresse"
            minlength="3" required>
          <div
            *ngIf="addUnivForm.controls['adresse'].hasError('required') && (addUnivForm.controls['adresse'].dirty || addUnivForm.controls['adresse'].touched)"
            class="error-message">

            <app-message-erreur [erreur]="addUnivForm.controls['adresse']"></app-message-erreur>

          </div>

        </div>



        <button type="submit" class="btn btn-success btn-block" [disabled]="addUnivForm.invalid">Done</button>
        <div *ngIf="addUnivForm.invalid" class="error-message">
          Veuillez remplir le formulaire avant de soumettre.
        </div>
      </form>



    </div>
  </div>
</div>
</div>
