<!-- chambre-modification.component.html -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-page">
  <div class="content">
      <div class="container-fluid">
          <form (ngSubmit)="updateChambre()" #chambreForm="ngForm" class="chambre-form" novalidate>
              <label>ID Chambre: </label>
              <input type="text" [(ngModel)]="chambre.idChambre" name="idChambre" class="form-control" disabled>

              <label>Num Chambre: </label>
              <input type="number" [(ngModel)]="chambre.numeroChambre" name="numeroChambre" class="form-control" required>
              <div *ngIf="chambreForm.controls['numeroChambre'].hasError('required') && (chambreForm.submitted || chambreForm.controls['numeroChambre'].touched)"
                class="error-message">
                Numéro Chambre est requis.
              </div>

              <label>Type Chambre: </label>
              <select [(ngModel)]="chambre.typeChambre" name="typeChambre" class="form-control" required>
                  <option value="" disabled selected>Choisissez le type</option>
                  <option value="SIMPLE">Simple</option>
                  <option value="DOUBLE">Double</option>
                  <option value="TRIPLE">Triple</option>
              </select>
              <div *ngIf="chambreForm.controls['typeChambre'].hasError('required') && (chambreForm.submitted || chambreForm.controls['typeChambre'].touched)"
                class="error-message">
                Type Chambre est requis.
              </div>

              <!-- Other input fields for chambre properties -->

              <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
          </form>
      </div>
  </div>
</div>
